# 依赖管理
# 私有源
@kd:registry=http://192.168.12.201:4873/

# npm（主要是 npm v7+）里的一个依赖安装兼容选项，用来跳过 peerDependencies（对等依赖）的严格校验规则，允许安装那些可能存在版本冲突的依赖项。
# 这在某些情况下可以帮助解决依赖安装问题，但也可能导致运行时错误，因此需要谨慎使用。
legacy-peer-deps=true

# pnpm自动安装peerDependencies
auto-install-peers=true
